.cards {
    width: 300px;
    margin: auto;
}

.heads img {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    margin: auto;
    margin-left: 100px;
}

.bottoms {
    justify-content: center;
    background-color: grey;
    text-align: center;
}